<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Namo Vehicle Agency</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/AddProduct">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">Vehicle List</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="">
            <div class="card-body">
                <form method="post" action="/AddProduct" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter Brand">
                    </div>
                    <div class="form-group">
                        <label for="Category">Category</label>
                        <select name="category">
                            {{#each data}}
                            <option>{{categoryName}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" class="form-control" id="image" placeholder="Enter Image" name="image">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
                    </div>
                    <div class="form-group">
                        <label for="depreciation">Depreciation</label>
                        <input type="text" class="form-control" id="depreciation" placeholder="Enter depreciation"
                            name="depreciation">
                    </div>
                    <div class="form-group">
                        <label for="years">No. of years</label>
                        <input type="text" class="form-control" id="years" placeholder="Enter years" name="years">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>